{% extends "base.html" %}
{% block content %}
    <audio autoplay>
        <source src="{{ url_for('static', filename='audio/closing-titles-2008-v2.mp3') }}" type="audio/mpeg">
    </audio>
    <div>
        <h2>{{ message }}</h2>
        <form action="{{ url_for('login') }}" method="post">
            <input type="submit" value="Начать заново" />
        </form>
    </div>
    <div>
        <h2>Таблица рейтинга</h2>
        <table>
            <tr>
                <th>Имя пользователя</th>
                <th>Рекорд</th>
            </tr>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.record }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
