{% extends "base.html" %}
{% block content %}
    <audio autoplay>
        <source src="{{ url_for('static', filename='audio/hello-new-punter-2008-long.mp3') }}" type="audio/mpeg">
    </audio>
    <div>
        <h2>Вход в игру</h2>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>{{ form.username.label }} {{ form.username() }}</p>
            <p>{{ form.non_burnable_sum.label }} {{ form.non_burnable_sum() }}</p>
            <p>{{ form.hints.label }} {{ form.hints() }}</p>
            {% if form.hints.errors %}
                <ul class="errors">
                    {% for error in form.hints.errors %}
                        <span style="color: red;"> {{ error }} </span>
                    {% endfor %}
                </ul>
            {% endif %}
            <p>{{ form.submit() }}</p>
        </form>
    </div>
{% endblock %}
