{% extends "base.html" %}
{% block content %}
    <div>
        <h2>{{ question }}</h2>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            {% for subfield in form.answer %}
                {{ subfield }} {{ subfield.label }}<br>
            {% endfor %}
            <p>{{ form.submit() }}</p>
        </form>
    </div>
    <div>
        <h2>Ваш прогресс:</h2>
        <ul>
            {% for i in range(15, 0, -1) %}
                <li>
                    {% if i == level %}
                        -> {{ rating[i-1] }}
                    {% else %}
                        {{ rating[i-1] }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
