{% extends "base.html" %}
{% block content %}
    <audio autoplay>
        <source src="{{ url_for('static', filename='audio/q1-5-bed-2008.mp3') }}" type="audio/mpeg">
    </audio>
    <div>
        <h2>{{ question }}</h2>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            {% for subfield in form.answer %}
                {{ subfield }} {{ subfield.label }}<br>
            {% endfor %}
            <p>{{ form.submit() }}</p>
            <h2> Подсказки: </h2>
            {% if 'hint1' in hints %}
                <p>{{ form.hint1() }}</p>
            {% endif %}
            {% if 'hint2' in hints %}
                <p>{{ form.hint2() }}</p>
            {% endif %}
            {% if 'hint3' in hints %}
                <p>{{ form.hint3() }}</p>
            {% endif %}
            {% if 'hint4' in hints %}
                <p>{{ form.hint4() }}</p>
            {% endif %}
            {% if 'hint5' in hints %}
                <p>{{ form.hint5() }}</p>
            {% endif %}
        </form>
    </div>
    <div>
        <h2>Ваш прогресс:</h2>
        <ul>
            {% for i in range(15, 0, -1) %}
                <li>
                    {% if i == level %}
                        -> {{ rating[i-1] }}
                    {% else %}
                        {{ rating[i-1] }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
