{% extends "base.html" %}
{% block content %}
    <!-- Загрузка фоновой музыки игры -->
    <audio autoplay>
        <source src="{{ url_for('static', filename='audio/q1-5-bed-2008.mp3') }}" type="audio/mpeg">
    </audio>

    <!-- Работа с формой Qustion -->
    <div>
        <h2>{{ question }}</h2>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }} <!-- Нужно для защиты от CRSF атак -->

            {% for subfield in form.answer %}
                {{ subfield }} {{ subfield.label }}<br>
            {% endfor %}
            <p>{{ form.submit() }}</p>

            <h2> Подсказки: </h2>
            {% if 'hint1' in hints %}
                <p>{{ form.hint1() }}</p>
            {% endif %}
            {% if 'hint2' in hints %}
                <p>{{ form.hint2() }}</p>
            {% endif %}
            {% if 'hint3' in hints %}
                <p>{{ form.hint3() }}</p>
            {% endif %}
            {% if 'hint4' in hints %}
                <p>{{ form.hint4() }}</p>
            {% endif %}
            {% if 'hint5' in hints %}
                <p>{{ form.hint5() }}</p>
            {% endif %}
        </form>
    </div>

    {% if votes %}
        <div id="chart_div"></div>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            google.charts.load('current', {packages: ['corechart', 'bar']});
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                    ['Ответы', 'Голоса'],
                    ['Вариант 1', {{ votes[0] }}],
                    ['Вариант 2', {{ votes[1] }}],
                    ['Вариант 3', {{ votes[2] }}],
                    ['Вариант 4', {{ votes[3] }}]
                ]);

                var options = {
                    title: 'Опрос аудитории',
                    chartArea: {width: '50%'},
                    hAxis: {
                        title: 'Общее количество голосов',
                        minValue: 0
                    },
                    vAxis: {
                        title: 'Ответы'
                    }
                };

                var chart = new google.visualization.BarChart(document.getElementById('chart_div'));

                chart.draw(data, options);
            }
        </script>
    {% endif %}

    <div>
        <h2>Ваш прогресс:</h2>
        <ul>
            {% for i in range(15, 0, -1) %}
                <li>
                    {% if i == level %}
                        -> {{ rating[i-1] }}
                    {% else %}
                        {{ rating[i-1] }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
